// Colors
$brand-color: #F6A623;
$body-background-color: #333;
$copy-color: #FFF;

// Menu links
$header-background-color: $body-background-color; //#333
$header-menu-link-color: #FFF;
$header-menu-link-color-hover: $brand-color; //#F6A623

// Forms error
$error-color: #a94442;
$error-color-shadow: lighten($error-color, 15);

// Forms success
$success-color: #3c763d;
$success-color-shadow: lighten($success-color, 15);