// Form

$input-border: $brand-color;

$button-refresh-width: 34px;
$button-refresh-height: $button-refresh-width;
$button-refresh-background: #3c73c5;
$button-refresh-background-hover: #27579F;
$button-refresh-border: $button-refresh-background-hover;