// Headings
$font-family-primary: 'Raleway';
$font-family-secondary: 'Droid Sans Mono', monospace;

$font-size-smallest: 12;
$font-size-small: 14;
$font-size-base: 15;
$font-size-big: 18;
$font-size-biggest: 20;

$font-size-h1: 52;
$font-size-h1-mobile: 32;
$font-size-h2: 36;
$font-size-h2-mobile: 26;
$font-size-h3: 24;
$font-size-h3-mobile: 22;
$font-size-h4: $font-size-base;
$font-size-h4-mobile: $font-size-small;
$font-size-h5: $font-size-smallest;
$font-size-h5-mobile: $font-size-h5;

$font-weight-light:300;
$font-weight-normal:400;
$font-weight-medium: 500;
$font-weight-big: 600;